.form {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 0 20px;
}

.form__title {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}
