.field {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.field__label {
  display: block;

  &-inner {
    display: block;
    margin-bottom: 8px;
  }
}

.field__input {
  padding: 10px 40px 10px 20px;
  border-radius: 5px;
  border: 2px solid red;
  display: block;
  width: 100%;
  font-size: 17px;

  &--valid {
    border-color: lime;
  }
}

.field__error {
  color: red;

  &--valid {
    color: lime;
  }
}
